html{
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-small;
    color: $grayishBlue;
    line-height: 1.4;

    @include breakpoint-up(large) {
        font-size: $font-med;
    }
}
//text-styles
h1,h2,h3{
    margin-top: 0;
    font-weight: 300;
    line-height: 1.2;
    color: $darkBlue;
}

h1{
    font-size: 2.35rem;
    margin-bottom: 1.25rem;

    @include breakpoint-up(large) {
        font-size: $font-xlarge;
    }
}

h2{
    font-size: 1.875rem;
    margin-bottom: 2.5625rem; 

    @include breakpoint-up(medium){
        font-size: 2.25rem;   
        margin-bottom: 2.25rem; 
    }

}

p{
    line-height: 1.5;  
    margin-bottom: 1.25rem;
  }

a, a:hover, a:visited{
    text-decoration: none;
   
}

//spacing
.container{
   
    max-width: 69.365rem;
    margin: auto;

    &--pall{
        padding-top: 4.375rem;
        padding-left:1.5rem;
        padding-bottom: 4.375rem;
        padding-right: 1.5rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--px{
        padding-left:1.5rem;
        padding-right: 1.5rem;
    }

    &--py{
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--pt{
        padding-top:4.375rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
        }
    }

    &--pb{
        padding-bottom: 4.375rem;
        
        @include breakpoint-up(large){
            padding-bottom: 6rem;
        }
    }

    &--pl{
        padding-left:1.5rem;
    }

    &--pr{
        padding-right: 1.5rem;
    }
}
// flexbox
.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }

}

 //buttons
 .button {
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    background-image: linear-gradient(to right, $limeGreen, $brightCyan ) !important;
    border-radius: 80px;
    font-size: $font-med;
    border: 0;
    color: $white;

    cursor: pointer;

    font-weight: 400;
    transition: opacity 200ms ease-in-out;


    &:hover{
        opacity: 0.7;
    }
}

//visibility
.hide-for-mobile{
    //hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none;
    }
    
}
.hide-for-desktop{
    //hide for desktop
    @include breakpoint-up(large){
        display: none;
    }
}
